p {
    font-style: normal;
    color: black;
    text-align: justify;
    font-size: medium;
}
h1 {
    color: gold;
    font-size: larger;
    text-align: justify;
    font-style: normal;
}
h2 {
    color: gold;
    font-size: large;
    text-align: justify;
    font-style: normal;
}
ul, ol {
    color: black;
    font-size: medium;
    text-align: justify;
    font-style: normal;
}